html, body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0.5em;
}

* {
  font-size: 16px;
  font-family: monospace;
}

body {
  max-width: 800px;
  margin: auto;
}

a {
  color: #4da6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  margin-bottom: 0.5em;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 0.5em 0;
}

pre {
  white-space: pre-wrap;
}

input, textarea {
  background: #000000;
  color: #ffffff;
  border: 1px solid #444;
  font-family: monospace;
  padding: 0.2em;
  margin-bottom: 0.5em;
}

input[type=submit] {
  width: 100%;
  color: lime;
  font-weight: bold;
}

input[type=textline] {
  width: 100%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}


.grey-text {
  color: gray;
  font-style: italic;
}

.log-debug {
  color: gray;
}

.log-info {
  color: #4da6ff;
}
.log-warning {
  color: black;
  background-color: yellow;
}
.log-error {
  color: white;
  background-color: red;
}

.log-error-flash {
  background-color: red;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  animation: flash-text 1s infinite;
}

.flash {
  animation: flash-text 1s infinite;
}

@keyframes flash-text {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.error {
  background-color: red;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  animation: pulse_error 1s;
}

.error-flash {
  background-color: red;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  animation: flash-text 1s infinite;
}

@keyframes pulse_error {
  0% { background-color: #ff8f8f; }
  100% { background-color: red; }
}

.error strong {
  text-decoration: underline;
  text-align: center; 
}

textarea {
  width: 100%;
  height: 6em;
}

.center {
  text-align: center;
}

hr, input, textarea {
  border: 1px solid #fff;
}

a:focus, a:hover {
  background-color: #0044cc;
  color: #ffffff;
  border-radius: 0px;
  border: none;
  outline: none;

}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #4da6ff;
}

input[type=submit]:focus , input[type=submit]:hover {
  border: 1px solid lime;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% { border: 1px solid lime; }
  50% { border: 1px solid white; }
  100% { border: 1px solid lime; }
}